:root{
  --color-de-fondo: #fff7f7;
   --color-de-link: #000;
   --color-de-fuente: #464646;
   --color-fondo-about: #EAF2FD;
}

body {
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--color-blanco) ;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

a{
    text-decoration: none;
    color: var(--color-negro);
}

ol, ul,li {
    list-style: none;
}

.container {
    margin: 0 9.5rem;
}

.button-action {
    display: flex;
    justify-content: space-between;
}

.button-action > button{
   border: none;
   background-color: transparent;
   font-size: large;
}

.button-action > button:hover{
    cursor: pointer;
 }
