.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 102px;
}

.footer__firma {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
}