.menu__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu__list__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.78rem;
    margin-left: 1rem;
    padding: 0;
}

.menu__list__item:nth-child(6) {
    font-weight: 700;
}
.menu__list__item__contato {
    display: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.78rem;
    margin-left: 1rem;
    padding: 0;
}