.title__container {
    color: var(--color-de-fuente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: calc(100% - 22.5rem - 1rem);
    order: 2;
}

.title__bio {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 1.5rem;
}

.title__subsection {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 1.5rem;
}