.about__container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.about__container:last-child {
    margin-bottom: 5rem;
}

.about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
}

.about__paragraph {    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: calc(100% - 22.5rem - 1rem);
}